extends layout

block content
  div(class='header')
    h1.title= title

    div.container
      if user 
        p.bodyText Signed in as: #{user.fullname}
      else
        a(href='/sign-up' class='bodyText link') Sign Up
        a(href='/log-in' class='bodyText link') Log In

  if messages 
    div.messages 
      for message in messages 
        div 
          h3 #{message.title} 
          p #{message.message}
          if user && user.membership_status !== "member"
            p #{message.date}
            p #{message.user.fullname}
          if user && user.membership_status === "admin"
            form(action=`/delete_message/${message._id}`, method="post")
              button(type="submit") Delete

  if (user)
    if (user.membership_status === 'member')
      a(href='/join_club') Join The Club!
    
    a(href='/create_message') Create Message
    
    a(href='/log-out') Log Out
