extends layout

block content
  div(class='header')
    h1.title= title

    div.container
      if user 
        div.subcontainer
          p.bodyText #{user.fullname}
          - const memberStatus = user.membership_status.split('_').map((word) => word.charAt(0).toUpperCase() + word.slice(1)).join(' ')
          p.bodySubtext #{memberStatus}
      else
        a(href='/sign-up' class='bodyText link') Sign Up
        a(href='/log-in' class='bodyText link') Log In

  if messages 
    div.messages 
      for message in messages 
        div.message
          h3 #{message.title} 
          p #{message.message}
          div.messageInfo
            if user && user.membership_status !== "member"
              p.subTxt #{message.user.fullname}
              p.subTxt #{message.date}
            if user && user.membership_status === "admin"
              form(action=`/delete_message/${message._id}`, method="post")
                button(type="submit" class="delete") 
                  span(class="material-symbols-outlined") delete

  if (user)
    div.footer
      if (user.membership_status === 'member')
        a(href='/join_club' class="bodyText link") Join The Club!

      a(href='/create_message' class="bodyText link") Create Message

      a(href='/log-out' class="bodyText link logout") Log Out
